.anchor{
    color: rgb(35, 33, 150);
    text-decoration: none;
      
}
nav{
    display: flex;
    justify-content: space-evenly;
    
}
h3{
    margin-top: 20px;
    
}
#videoplayer{
    background-color: black;
}

body{
    text-align: center;
    color: aliceblue;
    padding: 5px;
    margin: 5px;
    background-color: rgb(152, 121, 243);
}
